header h2 {
    display: inline;
}
#player-cards, #dealer-cards, div div {
    background-color: rgb(190, 190, 190);
    border: 3px solid black;
    border-radius: 10px;
    width: fit-content;
    padding: 10px;
    margin: 0 auto;
}
div div { /* card */
    background-color: rgb(200, 200, 200);
    display: inline-block;
    margin: 5px;
}
button {
    border-radius: 10px;
    height: 30px;
    width: 100px;
    cursor: pointer;
}
#all {
    width: 150px;
}
#bet {
    margin-right: 50px;
}
ul {
    list-style-position: inside;
    padding-left: 20px;
}