:root {
    --bg: linear-gradient(to right, white, rgb(150, 150, 150));
    --text: black;
    --accent: white;
}
body::-webkit-scrollbar {
  display: none;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: var(--bg);
    color: var(--text);
}
h1 {
    background: var(--accent);
    padding: 10px;
    border-radius: 20px;
}
footer {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.75);
    justify-content: center;
    transition: opacity 500ms;
}
footer h2 {
    color: black;
    margin-right: 10px;
}
summary {
    cursor: pointer;
}
.invisible {
    opacity: 0;
}
.unobtrusive { /* crazy class name */
    visibility: hidden;
}
#footer-toggle {
    font-size: xxx-large;
    position: fixed;
    margin: 0;
    bottom: 2%;
    right: 3%;
    cursor: pointer;
}