button {
    width: 200px;
    height: 40px;
    border-radius: 30px;
    font-size: large;
    cursor: pointer;
}
#options {
    height: 70%;
    width: 59%;
    position: fixed;
    top: 57%;
    left: 0;
    transform: translate(0, -50%);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
}
.option {
    background-color: darkgray;
    color: black;
    border: 3px solid black;
    border-radius: 20px;
    padding: 0 10px;
    margin: 10px;
    max-width: 200px;
}
#options-text {
    position: fixed;
    top: 45%;
    left: 75%;
    transform: translate(-50%, -50%);
}
@media screen and (max-width: 800px) {
    /* i dont like mobile */
    #options {
        height: 45%;
        position: relative;
        top: 100px;
        left: 25%;
        transform: translate(-50%, -50%);
        flex-wrap: wrap;
    }
    #options-text {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
    }
}