button {
    border-radius: 30px;
    cursor: pointer;
}
p a {
    color: var(--text);
}
#weather {
    display: none;
}
#get-weather {
    width: 150px;
    height: 40px;
    font-size: large;
}
.day-change {
    width: 100px;
    padding: 5px;
}
#reset {
    width: 70px;
}
.day {
    padding: 3px 8px;
    margin: 5px 3px;
}
.day.selected {
    background-color: gold;
}
#forecast {
    background-color: darkgray;
    color: black;
    padding: 0 20px;
    margin: 15px;
    border: 3px solid var(--text);
    border-radius: 30px;
    box-shadow: 0 4px 8px var(--box-shadow);
}
#high-low {
    margin-bottom: 0;
}
#times-holder {
    display: flex;
}
.time-of-day {
    padding: 0 20px 20px 20px;
}
.detailed {
    max-width: 400px;
}
@media screen and (max-width: 600px) {
    #times-holder {
        flex-direction: column;
    }
}